.row
  .small-12.columns
    %h1.text-center Shirts
    .row
      .small-12.medium-5.small-centered.columns
        .callout
          %p
            =link_to "New", new_shirt_path, class: "button float-right"
          %ul
            -@shirts.each do |shirt|
              %li= link_to shirt.name, shirt
